{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Affiliate plugin for Craft CMS 3.x
 *
 * Affiliate Settings.twig
 *
 * @author    Kurious Agency
 * @copyright Copyright (c) 2019 Kurious Agency
 * @link      https://kurious.agency
 * @package   Affiliate
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("kuriousagency\\affiliate\\assetbundles\\affiliate\\AffiliateAsset") %}

{{ forms.textField({
    label: 'Pending Days',
    instructions: 'Please enter the number of days before a pending credit is available.',
    id: 'pendingDays',
    name: 'pendingDays',
    value: settings['pendingDays']
}) }}

<h2>Affiliate</h2>

{% set assignableGroups = craft.app.userGroups.getAssignableGroups(currentUser) %}
{% set currentGroupIds = settings['affiliateUserGroup'] is defined ? settings['affiliateUserGroup'] : [] %}

{% set userGroupsInput %}
	<input type="hidden" name="affiliateUserGroup[]" value="">

	{% if assignableGroups %}
		<ul>
			{% for group in assignableGroups %}
				<li>
					{{ forms.checkbox({
						label: group.name|t('site')|e,
						name: 'affiliateUserGroup[]',
						value: group.id,
						checked: (group.id in currentGroupIds)
					}) }}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>{{ "No user groups exist yet."|t('app') }}</p>
	{% endif %}
{% endset %}

{{ forms.field({
	label: 'Affiliate User Group',
	fieldId: 'affiliateUserGroup',
	instructions: 'Please select the user groups to be used for Affiliates.',
}, userGroupsInput) }}

{{ forms.textField({
    label: 'Percentage',
    instructions: 'Please enter the percentage an affilate receives',
    id: 'percentage',
    name: 'percentage',
    value: settings['percentage']
}) }}

{# currency exchange rates #}
{% set currencies = craft.commerce.paymentCurrencies.allPaymentCurrencies %}

{% if currencies|length > 1 %}
	
	<div class="field">
		<div class="heading">
			<label>Currency Exchange Rates</label>
			<div class="instructions">
				<p>Please enter the exchange rates to use when calculating affilate percentages. For example a new customer places an order in USD how much does should the affiliate recieve in GBP</p>
			</div>
		</div>
	</div>
	
	{% for currency in currencies %}
		{{ forms.textField({
			label: currency.iso,
			id: 'exchangeRates',
			name: 'exchangeRates['~currency.iso~']',
			value: settings['exchangeRates'][currency.iso] is defined ? settings['exchangeRates'][currency.iso] : ""
		}) }}
	{% endfor %}
{% endif %}

<hr>

<h2>New Customers</h2>

{% set discounts = craft.commerce.discounts.allDiscounts %}

{% set discountOptions = [] %}

{% for discount in discounts %}
	{% set discountOptions = discountOptions|merge({('_'~discount.id): (discount.code)}) %}
{% endfor %}

{{ forms.selectField({
	label: 'New Customer Discount Code',
	instructions: 'Please select the discount code to use for new customers',
	id: 'newCustomerDiscountCodeId',
	name: 'newCustomerDiscountCodeId',
	value: settings['newCustomerDiscountCodeId'],
	options: discountOptions
}) }}

{{ forms.textField({
    label: 'New Customer Template Path',
    instructions: 'Please enter the path to the template where new referred customers should be taken',
    id: 'newCustomerTemplatePath',
    name: 'newCustomerTemplatePath',
    value: settings['newCustomerTemplatePath']
}) }}

{{ forms.textField({
    label: 'New Customer Email Template Path',
    instructions: 'Please enter the path to the email template new referred customers are sent',
    id: 'newCustomerEmailTemplate',
    name: 'newCustomerEmailTemplate',
    value: settings['newCustomerEmailTemplate']
}) }}

<h2>Referrer</h2>

{{ forms.textField({
    label: 'Referrer Voucher Email Template Path',
    instructions: 'Please enter the path to the email template referrer customers are sent',
    id: 'voucherEmailTemplate',
    name: 'voucherEmailTemplate',
    value: settings['voucherEmailTemplate']
}) }}

{{ forms.textField({
    label: 'Gift Voucher Expiry Months',
    instructions: 'Please enter how many months a gift voucher is valid for (default is 12)',
    id: 'voucherExpiryMonths',
    name: 'voucherExpiryMonths',
    value: settings['voucherExpiryMonths']
}) }}



{# {% if currencies|length > 1 %}
	<strong>Referrer Voucher Price</strong>
	{% for currency in currencies %}
		{{ forms.textField({
			label: currency.iso,
			id: 'voucherPrice',
			name: 'voucherPrice['~currency.iso~']',
			value: settings['voucherPrice'][currency.iso] is defined ? settings['voucherPrice'][currency.iso] : ""
		}) }}
	{% endfor %}
{% endif %} #}

